/* margins padding */
.navbar-nav.navbar-top > li.dropdown.show .dropdown-menu {
  background-color: #165774; }

#logo span.cool {
  color: #2290BE; }

#logo span.tech {
  color: #165774; }

#logo-subtitle {
  color: #165774; }

div.div-home {
  background-color: rgba(33, 154, 185, 0.2);
  color: #0a1321; }

div.text-intro {
  font-size: 2.5rem;
  font-family: "SuisseAntique";
  line-height: 1.2; }

div.div-home div.text-intro {
  color: #165774;
  padding-bottom: 1rem; }

section.sector-first {
  background-color: #F1F1F1; }

.btn-outline-dark {
  color: #165774;
  border-color: #165774; }
  .btn-outline-dark:hover {
    background-color: #165774; }

h1.case-study {
  color: #2290BE; }

h1.glossary {
  color: #2290BE; }

/* H3 titles */
section.category-list.air-conditioning h3 {
  color: #2290BE;
  font-family: "SuisseAntique"; }

.btn-outline-dark.air-conditioning {
  border-color: #2290BE;
  color: #2290BE; }

.btn-outline-dark.air-conditioning:hover {
  color: #fff;
  background-color: #2290BE;
  border-color: #2290BE; }

h1.last-sector.air-conditioning, h3.air-conditioning, section.results.air-conditioning h2.result_title, section.results.air-conditioning .result_meta_title {
  color: #2290BE; }

section.category-list.air-conditioning, section.results.air-conditioning {
  background-color: #D3E9F2; }

.air-conditioning .text-intro {
  color: #2290BE; }

section.category-list.refrigeration h3 {
  color: #165774;
  font-family: "SuisseAntique"; }

.btn-outline-dark.refrigeration {
  border-color: #165774;
  color: #165774; }

.btn-outline-dark.refrigeration:hover {
  color: #fff;
  background-color: #165774;
  border-color: #165774; }

h1.last-sector.refrigeration, h3.refrigeration, section.results.refrigeration h2.result_title, section.results.refrigeration .result_meta_title {
  color: #165774; }

section.category-list.refrigeration, section.results.refrigeration {
  background-color: #D0DDE3; }

.refrigeration .text-intro {
  color: #165774; }

section.category-list.heat-pumps h3 {
  color: #12316A;
  font-family: "SuisseAntique"; }

.btn-outline-dark.heat-pumps {
  border-color: #12316A;
  color: #12316A; }

.btn-outline-dark.heat-pumps:hover {
  color: #fff;
  background-color: #12316A;
  border-color: #12316A; }

h1.last-sector.heat-pumps, h3.heat-pumps, section.results.heat-pumps h2.result_title, section.results.heat-pumps .result_meta_title {
  color: #12316A; }

section.category-list.heat-pumps, section.results.heat-pumps {
  background-color: #D0D6E1; }

.heat-pumps .text-intro {
  color: #12316A; }

section.category-list.components h3 {
  color: #4DAEEF;
  font-family: "SuisseAntique"; }

.btn-outline-dark.components {
  border-color: #4DAEEF;
  color: #4DAEEF; }

.btn-outline-dark.components:hover {
  color: #fff;
  background-color: #4DAEEF;
  border-color: #4DAEEF; }

h1.last-sector.components, h3.components, section.results.components h2.result_title, section.results.components .result_meta_title {
  color: #4DAEEF; }

section.category-list.components, section.results.components {
  background-color: #DBEFFC; }

.components .text-intro {
  color: #4DAEEF; }

section.category-list h3 {
  color: #165774;
  font-family: "SuisseAntique"; }

header.masthead.second-taxonomy {
  background-color: #F1F1F1; }

/* RESULTS */
section.results {
  background-color: rgba(33, 154, 185, 0.2); }

article.element {
  margin-bottom: 1rem; }

article.element.equipment {
  background-color: white; }

article.element.case-study {
  background-color: #F1F1F1; }

.result_meta_title, .result_title {
  color: #2290BE; }

.result_meta_content {
  font-family: "SuisseAntique"; }

/* PAGE CASE STUDY */
.col-card {
  margin-bottom: 1rem; }

/* SINGLE PAGE STUDY */
.sidebar-application {
  border-top: 2px solid #2290BE; }

.sidebar-term {
  color: #2290BE;
  border-bottom: 2px solid #2290BE;
  padding: 1rem 0; }

/* GENERIC PAGE */
article.generic-page h2 {
  color: #2290BE; }

/* GLOSSARY PAGE */
h2.glossary_letter, h2.glossary_term {
  color: #2290BE; }

h1.glossary, h1.case-study {
  font-family: "SuisseAntique";
  padding-bottom: 4rem; }

.selectable {
  cursor: pointer;
  color: #2290BE; }

.menu-item-letter {
  padding: 0.2rem; }

/* MOBILE */
ul.mobile-menu-first li {
  background-color: #165774;
  color: white;
  font-family: "SuisseRegular"; }

.sidr, #sidr {
  background-color: #165774;
  font-family: "SuisseRegular"; }
