.navbar-nav.navbar-top > li.dropdown.show .dropdown-menu {
  background-color: #165774; }

div.div-home {
  background-color: rgba(33, 154, 185, 0.2);
  color: #0a1321; }

div.text-intro {
  font-size: 2.5rem;
  font-family: "SwissAntique";
  line-height: 1.2; }

div.div-home div.text-intro {
  color: #165774;
  padding-bottom: 1rem; }

section.sector-first {
  background-color: #F1F1F1; }

section.category-list.air-conditioning, section.category-list.refrigeration {
  background-color: rgba(33, 154, 185, 0.2); }

section.category-list.air-conditioning h3 {
  color: #2290BE;
  font-family: "SwissAntique"; }

.btn-outline-dark.air-conditioning {
  border-color: #2290BE;
  color: #2290BE; }

.btn-outline-dark.air-conditioning:hover {
  color: #fff;
  background-color: #2290BE;
  border-color: #2290BE; }

.air-conditioning .text-intro {
  color: #2290BE; }

header.masthead.second-taxonomy {
  background-color: #F1F1F1;
  color: #165774; }

header.masthead.second-taxonomy h1 {
  color: #165774; }

/* RESULTS */
section.results {
  background-color: rgba(33, 154, 185, 0.2); }

article.element {
  background-color: white;
  margin-bottom: 1rem; }

.result_meta_title, .result_title {
  color: #2290BE; }

.result_meta_content {
  font-family: "SwissAntique"; }

/* PAGE CASE STUDY */
.col-card {
  margin-bottom: 1rem; }

/* SINGLE PAGE STUDY */
.sidebar-application {
  border-top: 2px solid #2290BE; }

.sidebar-term {
  color: #2290BE;
  border-bottom: 2px solid #2290BE;
  padding: 1rem 0; }

/* GENERIC PAGE */
article.generic-page h2 {
  color: #2290BE; }
