.navbar-nav.navbar-top > li.dropdown.show .dropdown-menu {
  background-color: #165774; }

div.div-home {
  background-color: rgba(33, 154, 185, 0.2);
  color: #0a1321; }

div.text-intro {
  font-size: 2.5rem;
  font-family: "SwissAntique";
  line-height: 1.2; }

div.div-home div.text-intro {
  color: #165774;
  padding-bottom: 1rem; }

section.sector-first {
  background-color: #F1F1F1; }

section.category-list.air-conditioning, section.category-list.refrigeration {
  background-color: rgba(33, 154, 185, 0.2); }

/* H3 titles */
section.category-list.air-conditioning h3 {
  color: #2290BE;
  font-family: "SwissAntique"; }

section.category-list.heat-pumps h3 {
  color: #12316A;
  font-family: "SwissAntique"; }

section.category-list.components h3 {
  color: #4DAEEF;
  font-family: "SwissAntique"; }

section.category-list h3, section.category-list.refrigeration h3 {
  color: #165774;
  font-family: "SwissAntique"; }

/* BUTTON */
.btn-outline-dark.air-conditioning {
  border-color: #2290BE;
  color: #2290BE; }

.btn-outline-dark.refrigeration {
  border-color: #165774;
  color: #165774; }

.btn-outline-dark.heat-pumps {
  border-color: #12316A;
  color: #12316A; }

.btn-outline-dark.components {
  border-color: #4DAEEF;
  color: #4DAEEF; }

/* BUTTON HOVER */
.btn-outline-dark.air-conditioning:hover {
  color: #fff;
  background-color: #2290BE;
  border-color: #2290BE; }

.btn-outline-dark.refrigeration:hover {
  color: #fff;
  background-color: #165774;
  border-color: #165774; }

.btn-outline-dark.heat-pumps:hover {
  color: #fff;
  background-color: #12316A;
  border-color: #12316A; }

.btn-outline-dark.components:hover {
  color: #fff;
  background-color: #4DAEEF;
  border-color: #4DAEEF; }

/* TEXT_INTROS */
.components .text-intro {
  color: #4DAEEF; }

.air-conditioning .text-intro {
  color: #2290BE; }

.refrigeration .text-intro {
  color: #165774; }

.heat-pumps .text-intro {
  color: #12316A; }

header.masthead.second-taxonomy {
  background-color: #F1F1F1;
  color: #165774; }

header.masthead.second-taxonomy h1 {
  color: #165774; }

/* RESULTS */
section.results {
  background-color: rgba(33, 154, 185, 0.2); }

article.element {
  margin-bottom: 1rem; }

article.element.equipment {
  background-color: white; }

article.element.case-study {
  background-color: #F1F1F1; }

.result_meta_title, .result_title {
  color: #2290BE; }

.result_meta_content {
  font-family: "SwissAntique"; }

/* PAGE CASE STUDY */
.col-card {
  margin-bottom: 1rem; }

/* SINGLE PAGE STUDY */
.sidebar-application {
  border-top: 2px solid #2290BE; }

.sidebar-term {
  color: #2290BE;
  border-bottom: 2px solid #2290BE;
  padding: 1rem 0; }

/* GENERIC PAGE */
article.generic-page h2 {
  color: #2290BE; }

/* GLOSSARY PAGE */
h2.glossary_letter {
  color: #2290BE; }
